body{
	font-family: Arial , sans-serif ;
	font-size: 16px;
	line-height: 1.5;
}

header {
	background: #51296f;
	width: 100%;
	padding-top: 17px;
	padding-bottom: 17px;
}
.logo{
	width: 180px;
	height: 40px;
	background: #633f7e;
	margin-left: 120px;
}
ul{
	margin-top: 8px;
	margin-left: 40px;
}
li{
	display: inline;
}
.navLeftBlock{
	color: #fff;
	border-right: 1px solid #fff;
	padding-right: 20px;
	margin-right: 20px;
	 transition: 1s;
}
.navRightBlock{
	color: #fff;
	border-right: 1px solid #fff;
	padding-right: 15px;
	margin-right: 10px;
	 transition: 1s;
}
i{
	color: #fff;
	transition: 1s;
}
i:hover{
	color: #f9b233;
}
.fa-shopping-cart{
	color: #f9b233;
}
a:hover{
	color: #f9b233;
	text-decoration: none;
}
.badge{
	 background-color: #d749a1;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 8px;
    padding: 2px 3px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 12px;
    margin-left: 2px;
}
.dropdown-menu{
 background: #fff9ee;
 color: #51296f;
 width: 250px;
 padding-left: 10px;
 padding-right: 10px;
 margin-top: 15px;
 margin-right: 50px;
 position: absolute;
}
.dropdown-item{
   color: #51296f;
}
.dropdown-item:hover{
	color: #b42f7d;
}
.facolor{
	color: #6a3d8c;
	padding-left: 13px;
	border-radius: 50%;
	padding-top: 9px;
}
.inputBlock{
	margin-left: 105px;
	width: 72%;
}
.btn-warning{
	margin-left: 17px;
	color: #51296f;
}